<div class="card-deck mb-3 text-center">
  <div class="card mb-12 box-shadow">
    <div class="card-header">
<img src="{{product.image}}">
    </div>
    <div class="card-body">
      <h1 class="card-title pricing-card-title">${{product.price}} <small class="text-muted">{{product.currency}}</small></h1>
      <ul class="list-unstyled mt-3 mb-4">
        <li>{{product.name}}</li>
        <li>{{product.price}}</li>
        <li>{{product.description}}</li>
      </ul>
    </div>
  </div>
  
  
</div>
