<div class="container">
  <!-- Content here -->
  <label for="serach">Search</label>
  <div class="col-md-4 mb-3" style="padding: 0;">
    <input (keyup)="onSearch($event)" type="search" id="search" class="form-control" placeholder="search">
  </div>
  <div class="row">
    <div *ngFor="let product of response.data" class="col-md-4">
      <a routerLink="product/{{product.id}}">
        
          <div class="card mb-4 box-shadow">
            <img src="{{product.image}}" width="350" height="240">
            <div class="card-body">
              <p class="card-text">Name: {{product.name}}</p>
              <p class="card-text">Price: {{product.price}}</p>
            </div>
          </div>
      </a>
  </div>
  </div>
</div>
